.imageContainer{
    width: 60%;
    margin: 0;
    padding: 0;
}
.imageContainer img{
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    background-color: #c13028;
    padding-top: 60px;
}

.landingText{
    background-color: #000404;
    margin: 0;
    width: 40%;
    padding-top: 150px;
    line-height: 0.95;
}

.header{
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    padding: 15px 0px 25px 15px;
    font-size: 90px;
    text-align: left;
    font-weight: 1000 !important;
}

.tagLine{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: #dbdfd0;
    padding: 5px 0px 15px 15px;
    font-weight: 1000;
    text-align: left;
}

.bodyContainer{
    flex-wrap: wrap;
    display: flex;
    height: 92vh;
}

@media screen and (max-width: 1150px){
    .header{
        font-size: 80px;
    }
    .tagLine{
        font-size: 26px;
    }
}

@media screen and (max-width: 1150px){
    .header{
        font-size: 76px;
    }
    .tagLine{
        font-size: 26px;
    }
}

@media screen and (max-width: 980px){
    .header{
        font-size: 74px;
    }
    .tagLine{
        font-size: 24px;
    }
    .imageContainer{
        width: 50%;
    }
    .landingText{
        width: 50%;
    }
}

@media screen and (max-width: 760px){
    .header{
        font-size: 68px;
    }
    .tagLine{
        font-size: 22px;
    }
    .imageContainer{
        width: 50%;
    }
    .landingText{
        width: 50%;
    }
}
@media screen and (max-width: 760px){
    .header{
        font-size: 68px;
    }
    .tagLine{
        font-size: 22px;
    }
    .imageContainer{
        width: 100%;
    }
    .landingText{
        padding-top: 70px;
        padding-bottom: 40px;
        width: 100%;
    }
}