.textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    outline: none;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    width: 100%;
}
.textarea::placeholder{
    color: rgba(0,0,0,0.5);
}
.textarea:focus{
    border-bottom: 3px solid #188fff7c;
    border-radius: 0 0 2px 2px;
}

.container{
    width: 40%;
    margin: 100px auto 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}

.btnStyling{
    margin-top: 10px;
}

.btnDiv{
    text-align: right;
}

@media screen and (max-width: 850px){
    .container{
        width: 70%
    }
}
@media screen and (max-width: 550px){
    .container{
        width: 90%
    }
}