.rem{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.rem p{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.815);
}

.rem p:hover{
    cursor: pointer;
}

.headers{
    margin-bottom: 40px;
}

.headers h1{
    color: rgb(2,48,71);
    font-weight: 600;
    margin-bottom: 0;
}

.headers p{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.815);
}

.container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 25%;
    text-align: center;
}

.signup{
    padding-top: 15px;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.815);
}

.error{
    background-color: rgba(253, 199, 199, 0.87);
    color: rgb(255, 75, 75);
    padding: 10px 0;
    text-align: center;
}

.outerPwdContainer{
    background-color: #e6f3f3;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
}

.forgotPwdContainer{
    width: 40%;
    margin: 0px auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.input{
    margin-bottom: 15px;
}

.otpConf{
    font-size: 16px;
}

.emailId{
    font-weight: 600;
}

.pwdText{
    font-size: 16px;
    color: grey;
}

@media (max-width: 900px){
    .forgotPwdContainer{
        width: 45%;
    }
}

@media (max-width: 800px) {
    .container{
        top: 45%
    }
    .forgotPwdContainer{
        width: 50%;
    }
}

@media (max-width: 650px){
    .forgotPwdContainer{
        width: 60%;
    }
}

@media (max-width: 550px){
    .forgotPwdContainer{
        width: 65%;
    }
}

@media (max-width:440px) {
    .rem p{
        font-size: 12px;
    }
    .container{
        top: 45%
    }
    .forgotPwdContainer{
        width: 90%;
    }
}