.container{
    border: 1px solid rgba(0,0,0,0.1);
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.imageContainer{
    width: 12%;
}

.image{
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(128, 128, 128, 0.247);
    height: 70px;
    width: 70px;
}

.image img{
    height: 100%;
    width: 100%;
}

.postContainer{
    width: 88%;
    text-align: left;
    padding-left: 15px;
}

.name{
    font-size: 16px;
    margin-bottom: 0;
}

.createdAt{
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.interaction{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.interaction img{
    height: 25px;
    width: 25px;
    color: rgba(0,0,0,0.5);
}

.iconContainer{
    padding: 10px;
    border-radius: 50%;
    display: flex;
}

.updownHover{
    padding: 10px;
    border-radius: 50%;
    background-color: #288afb41;
}

.commentHover{
    padding: 10px;
    border-radius: 50%;
    background-color: #50c87850;
}

.reshareHover{
    padding: 10px;
    border-radius: 50%;
    background-color: #005cb848;
}

.count{
    padding-left: 5px;
}

.container:hover{
    background-color: rgba(128, 128, 128, 0.116);
}

.image:hover{
    transform: scale(1.08);
    background-color: rgba(128, 128, 128, 0.411);
}

.commentBox{
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    resize: none;
}

.send{
    height: 30px;
    width: 30px;
}

.send:hover{
    cursor: pointer;
}

.sendContainer{
    text-align: right;
    padding: 10px 10px 20px 0;
}

.error{
    background-color: rgba(253, 199, 199, 0.87);
    color: rgb(255, 75, 75);
    padding: 10px 0;
    text-align: center;
}

.loading{
    height: 30px;
    width: 30px;
}

.nocomment{
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-weight: 600;
}

.likeBtn, .dislikeBtn{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.countDiv{
    margin-top: 5px;
}

.count{
    padding: 15px 0;
}