@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
}

.detailsContainer {
  margin: 30px auto;
  padding: 50px 0px;
}

.heading {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
  font-family: Gilroy;
  text-align: left;
}

.text {
  color: #0f5298;
  font-size: 18px;
  text-align: left;
}

.teamContainer {
  flex-wrap: wrap;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
