.imageContainer{
    height: 60px;
    padding-left: 15px;
}

.imageContainer img{
    height: 100%;
}

.darkmenuContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.darkmenuContainer{
    padding-right: 15px;
}

.darkmenuContainer li{
    text-decoration: none;
    float: left;
    font-size: 18px;
    margin-right: 10px;
    padding: 21px 12px 5px 10px;
    color: #b9bbba;
}

.darkcontainer{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.darkstyleManipulation{
    text-decoration: none;
    color: #b9bbba;
}

.darkmenuContainer li:hover{
    border-bottom: 4px solid #b9bbba;
}

.selected{
    border-bottom: 4px solid #b9bbba;
}

.lightContainer{
    display: flex;
    justify-content: space-between;
    background-color: #f0ffff;
}

.lightstyleManipulation{
    text-decoration: none;
    color: #3c99dc;
}

.lightmenuContainer li:hover{
    color: #d5f3fe;
    background-color: #72a0c1
}

.selectedlight{
    color: #d5f3fe;
    background-color: #72a0c1;
}

.lightmenuContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lightmenuContainer{
    padding-right: 15px;
}

.lightmenuContainer li{
    text-decoration: none;
    float: left;
    font-size: 18px;
    padding: 21px 10px;
}

.btnStyling{
    background-color: #f0ffff;
    color : #72a0c1;
    border: none;
    outline: none;
    padding: 21px 10px
}
.btnStyling:hover{
    color: #d5f3fe;
    background-color: #72a0c1;
    cursor: pointer;
}