.imageContainer {
  height: 60px;
  padding-left: 15px;
}

.imageContainer img {
  height: 100%;
}

.darkmenuContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.darkmenuContainer {
  padding-right: 15px;
}

.darkmenuContainer li {
  text-decoration: none;
  float: left;
  font-size: 18px;
  margin-right: 10px;
  padding: 21px 12px 5px 10px;
  color: #b9bbba;
}

.darkcontainer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
.darkstyleManipulation {
  text-decoration: none;
  color: #b9bbba;
}

.darkmenuContainer li:hover {
  border-bottom: 4px solid #b9bbba;
}

.selected {
  border-bottom: 4px solid #b9bbba;
}

.lightContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f0ffff;
}

.lightstyleManipulation {
  text-decoration: none;
  color: #3c99dc;
}

.lightmenuContainer li:hover {
  color: #d5f3fe;
  background-color: #72a0c1;
}

.selectedlight {
  color: #d5f3fe;
  background-color: #72a0c1;
}

.lightmenuContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lightmenuContainer {
  padding-right: 15px;
}

.lightmenuContainer li {
  text-decoration: none;
  float: left;
  font-size: 18px;
  padding: 21px 10px;
}

.btnStyling {
  background-color: #f0ffff;
  color: #72a0c1;
  border: none;
  outline: none;
  padding: 21px 10px;
}
.btnStyling:hover {
  color: #d5f3fe;
  background-color: #72a0c1;
  cursor: pointer;
}

.userDp {
  border-radius: 50%;
  background-color: white;
}

.userDp:hover {
  background-color: gray;
}

.dpContainer {
  border-radius: 50%;
  background-color: none !important;
}

.dpContainer:hover {
  cursor: pointer;
  background-color: transparent !important;
}

/* .dropDownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
  right: 0;
  width: 150px;
  height: 80px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  margin: 8px;
  padding: 4px;
  border-left: 4px solid #3c99dc;
  z-index: 2;
} */

/* .dropDownOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropDownContainer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-left: 6px;
} */

.dropDownOptions:hover {
  color: blue;
}

.lightitems {
  text-decoration: none;
  color: #3c99dc;
  /* padding: 20px; */
  padding-right: 20px;
  position: relative;
  top: 20px;
  font-size: 18px;
}

.selectedItemLight{
  color: #0f5298;
}

.darkItems{
  text-decoration: none;
  color: #b9bbba;
  /* padding: 20px; */
  padding-right: 20px;
  font-size: 18px;
}

.selectedItemDark{
  color: #c13028;
}
@media screen and (max-width: 768px){
  .userDp{
    display: none;
  }
}